doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/preload.css')
    title= page_title
  body
    // Load page styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//code.jquery.com/jquery-1.11.2.min.js")
    block content

